.input {
  height: 100%;
  width: 80%;
  padding: 16px 12px;
  color: rgba(50, 48, 54, 0.55);
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(50, 48, 54, 0.55);
  letter-spacing: 0.05em;
}
